@font-face
  font-family 'Amaranth'
  font-style normal
  src url('fonts/Amaranth-Regular.ttf') format('truetype')

@font-face
  font-family 'icomoon'
  src  url('fonts/icomoon.eot?66xr4m')
  src  url('fonts/icomoon.eot?66xr4m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?66xr4m') format('truetype'),
    url('fonts/icomoon.woff?66xr4m') format('woff'),
    url('fonts/icomoon.svg?66xr4m#icomoon') format('svg')
  font-style normal
  font-weight normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'icomoon' !important
  font-size 2em
  font-style normal
  font-variant normal
  font-weight normal
  line-height 1
  speak none
  text-transform none

  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased


.icon-whatshot:before
  content "\e900"

.icon-favorite:before
  content "\e901"

.icon-home:before
  content "\e902"

.icon-settings:before
  content "\e903"
