@import "lib/_variables.styl"
// @import "lib/_mixins.styl"


body
  background-color fondo
  font-family base-font-family
  font-size 20px
  // justify-content center
  margin 0
  min-height 100vh


.container
  display grid
  // grid-auto-colums 100px 50px
  // grid-auto-flow column
  grid-gap 2px
  grid-template-columns 1fr 1fr 1fr
  height 100vh

  justify-items center
  align-items center

// @css {
//   .container {
//     grid-template-columns: [inicio] 1fr [lc2] 1fr [lc3] 1fr [fin-dest] 1fr [lc5] 1fr [lc6] 1fr [lc7] 1fr [fin-c];
//     grid-template-rows: [lf1] 200px [lf2] 200px [fin-f];
//   }
// }

@css {
  .item {
    background: lightblue;
    border: 1px solid red;
    padding: 10px;
  }

  .item:nth-of-type(1) {
    background: lightcoral;
    // grid-column: inicio / fin-dest;
    // grid-row: lf1 / span 2;}

  .item:nth-of-type(2) {
    // grid-column: fin-dest / lc6;
    // grid-row: lf1 / fin-f;}

  .item:nth-of-type(3) {
    background: lightcoral;
    align-self: start;
    justify-self: end;
    // grid-column: lc6 / fin-c;}
}
