@import "lib/_variables.styl"
// @import "lib/_mixins.styl"


body
  background-color fondo
  font-family base-font-family
  font-size 20px
  // justify-content center
  margin 0
  min-height 100vh


.container
  display grid
  // grid-template-columns 25% 200px 25%
  // grid-template-rows 300px 150px
  grid-column-gap 20px
  grid-row-gap 20px
  height 100vh
  // grid-template 300px 150px / 1fr 1fr 1fr
  // grid-template 300px 150px / auto auto auto
@css {
  .container {
    grid-template: repeat(3, 1fr) / repeat(4, minmax(200px, 1fr));
  }
}

.item
  background lightblue
  border 1px solid red
  // margin-right 20px
  padding 10px

  &:nth-of-type(4)
    background lightcoral
    // display subgrid repite el grid padre (aún no estásoportado)
    display grid
    grid-template 50px 50px / 25% 50% 25%
    overflow auto // Esto añade un scroll si el elemento lo necesita

  & .item
    background lavender
