doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Página principal
  body
    h1.title Dibujando con @funihao
    container
      .diamante
      .punto
    container
      .PLatziLogo
        .PLatziLogo-left
        .PLatziLogo-right
      h1.PLatziLogo-title Platzi
