section
  .container
    .item contenido #1
    .item contenido #2
    .item contenido #3
    .item 
      .item contenido #1
      .item contenido #2
      .item contenido #3
      .item contenido #4
      .item contenido #5
    .item contenido #5
    .item contenido #6
    .item contenido #7
    .item contenido #8
    .item contenido #9
    .item contenido #10
    .item contenido #11
    .item contenido #12
