section.post-list
  a(href="#").post
    figure.post-image
      img(src="src/img/compu.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  a(href="#").post
    figure.post-image
      img(src="src/img/compu2.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  a(href="#").post
    figure.post-image
      img(src="src/img/compu3.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  a(href="#").post
    figure.post-image
      img(src="src/img/img4.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  a(href="#").post
    figure.post-image
      img(src="src/img/compu.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  a(href="#").post
    figure.post-image
      img(src="src/img/compu2.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  a(href="#").post
    figure.post-image
      img(src="src/img/compu3.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  a(href="#").post
    figure.post-image
      img(src="src/img/img4.jpg")
    span.post-overlay
      p
        span.post-likes 150
        span.post-comments 10
        
  
