section
  .container
    .header 
      .brand-logo
        img(src="src/images/popcorn.png").brand-logo__img
        //- figure.brand-logo__img
        p.brand-logo__text
          span Movi.es
    
      .search
        form(action="").search-form
          input(type="email", size="30", placeholder="Busca tu peli, actor, actriz o director favorito").search-input
      
      a(href="#").user
        .user__text Bambi rodríguez
        .user__img
          img(src="src/images/bambi.jpg")
        .user__arrow
      
    .side-bar
      .main-menu
        .home
          p.icon
            span.icon-home
          p.label Home
        .whatshot
          p.icon
            span.icon-whatshot
              p.label Trending
        .likes
          p.icon
            span.icon-favorite
              p.label Más likes
              
      .profile
        .settings
          p.icon
            span.icon-settings
              p.label Ajustes
    
    .post
      .post-list
        .post-group Ahora en el cine
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        .post-group Aclamadas por la crítica
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        .post-group No te debes perder
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
        a(href="#").post-item
          figure.post-image
            img(src="src/images/The-Secret-Life-of-Pets-trailer.jpg")
          span.post-overlay
            h2 The Secret Live  of Pets
            p
              span.post-likes The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.
