.container
  .item.level-1
    img(src="src/img/landing.jpg")

  .item.level-2
    img(src="src/img/tshirt.jpg")

  .item.level-3
    img(src="src/img/house.jpg")

  .item.level-1
    img(src="src/img/landing.jpg")

  .item.level-2
    img(src="src/img/tshirt.jpg")

  .item.level-3
    img(src="src/img/house.jpg")

  .item.level-1
    img(src="src/img/landing.jpg")

  .item.level-2
    img(src="src/img/tshirt.jpg")

  .item.level-3
    img(src="src/img/house.jpg")
