.hero
  .hero-container
    .badge
      img(src="src/img/badge.png")
    
    h1.title Curso de React.js
    
    .description
      p React es una de las librerías más utilizadas hoy en día para crear aplicaciones web. En este curso podrás dominar la creación de aplicaciones a través de un proyecto que te ayudará a explotar todas las capacidades de esta librería.
    
    form(action="").form
      p Regístrate a Platzi
      input(type="text", placeholder="Nombre")
      input(type="email", placeholder="Correo Electrónico")
      button(type="submit") Comienza ahora
    
    .countdown
      p Lanzamiento: 
      p
        span  01d 
        span  03h 
        span  09m 
        span  05s 
